* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: rgb(193, 141, 194);
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: black;
}
.nav-list a:hover {
    color: #007BFF;
}
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    gap: 50px;
}
.hero-text {
    flex: 1;
}
.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}
.hero-image img {
    width: 350px;
    border-radius: 50%;
}
section {
    min-height: 100vh;
    padding: 6rem 10%;
}
section h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
#about,
#projects,
#contact {
    background: #add6eb;
}

#skills,
#gallery {
    background: white;
}